body,button,input,div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sorry {
    font-weight: bold;
    font-size: 3em;
    color: lightslategrey;
    width: 500px;
    margin: auto;
    text-align: center;
}

.main {
    display: none;
}

@media (max-width: 500px){
    body,button,input,div {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .sorry {
        display: none;
    }
    .main {
        display: block;
    }
    .hidden {
        display: none;
    }
    .navbar {
        background: #4a55f0;
        height: 20px;
        padding: 2% ;
        margin-bottom: 2%
    }
    .navbtn {
        border-radius: 5%;
        border: solid 2px rgb(255, 255, 255);
        height: 25px;
        background: none;
        color: white;
        font-size: 1.4em
    }
    .left {
        float: left
    }
    .right {
        float: right
    }
    .empty {
        font-weight: bold;
        font-size: 3em;
        color: lightslategrey;
        width: 500px;
        margin: auto;
        text-align: center;
    }
    .home {
        display: flex;
        flex-direction: row;
    }
    button.menu {
        flex-grow: 2;
        border-radius: 50%;
        border: solid 2px darkslategrey;
        background-color: rgb(102, 146, 216);
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        margin: 4%;
        height: 120px;
        width: 120px 
    }
    .row-fix {
        border: none !important;
        background-color: rgba(0,0,0,0) !important;
        color: rgba(0,0,0,0) !important;
    }   
    div.logo{ 
        margin: 2%;
        text-align: center;
    }
    div.logo img {
        width: 25%
    }
    .btnback {
       width: 45px
    }
    .btnback p {
       padding: 0;
       margin-top: -3px;
    } 
    .form-btn {
        flex-grow: 1;
        font-size: 1.5em;
        width: 75%; 
        padding: 3%;
        margin: 10px auto;
        border: none;
        color: azure;
        background-color: #4a55f0;
        border-radius: 10px;
    }
    .form-control {
        flex-grow: 1;
        font-size: 1.5em;
        width: 75%;
        margin: 10px auto; 
        border-bottom: 1px solid blue;
        border-top: none;
        border-left: none;
        border-right: none; 
        color: blue;
        font-weight: bold;
    }
    .dialog {
        display: flex;
        flex-direction: column;
    } 
    .table-list {
        padding-inline-start: 5px;
    }
    .table-list li {
        list-style-type: none;
        padding-bottom: 2%;
    }
    .lister {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: solid darkcyan 2px;
        padding: 2%
    }
    .lister div {
        flex-grow: 1;
        margin: 1% 0 1% 0
    }
    .lister-icon {
        display: flex;
        flex-direction: row;
    }
    .lister-icon button {
        flex-grow: 1;
        margin: 0 1% 0 1%;
        height: 30px;
        width: 35px
    }
    .caption {
        font-size: 2em;
        font-weight: bold;
    }
}