<h1><center>Tentang Kami</center></h1>
<p style="text-align: justify">
<strong>Advoqu</strong> adalah sebuah lembaga yang diinisiasi oleh kantor hukum <strong>R.Subekti & Partners</strong> pada tahun 2021. Lembaga ini melayani konsultasi, pembelaan, pengurusan administrasi, serta edukasi permasalahan hukum khususnya dalam bidang
<ol>
    <li>Hutang Piutang</li>
    <li>Pinjaman Online / Rentenir</li>
    <li>Permasalahan Riba</li>
    <li>Hak Waris</li>
    <li>Permasalahan Hukum Lainnya</li>
</ol>
</p>
<h1><center>Bergabung Menjadi Client Advoqu</center></h1>
<p style="text-align: justify">
Agar bisa memanfaatkan layanan Advoqu, anggota masyarakat dapat bergabung menjadi client. Langkah-langkah yang dapat ditempuh sebagai berikut
<ol>
    <li>Mendaftar dengan meng-klik tombol <strong>Login</strong> lalu klik tombol <strong>Buat Akun</strong></li>
    <li>Masukkan beberapa informasi umum lalu klik tombol <strong>Buat Akun</strong></li>
    <li>Selanjutnya anda bisa login sebagai client dan memanfaatkan layanan Advoqu</li> 
</ol>
</p>