<div class="lister-icon">
    <input type="text" class="form-control" id="article-cari" placeholder="ketik untuk mencari">
    <button onclick="search('article-cari','all-article-list')">Cari</button> 
</div>


<ul class="table-list all-article-list">
    
</ul>