<h1><center>Tambah Artikel</center></h1>
<hr>
<div class="dialog">
    <input type="text" class="form-control reg" placeholder="judul" data-key="Caption">
    <textarea name="" id="" cols="30" rows="10" data-key="Content" class="reg"></textarea>
    <button class="form-btn"  onclick="add_article()" id="buat-artikel">Tambah Artikel</button> 
</div>