<h1><center>Ubah Artikel</center></h1>
<hr>
<div class="dialog">
    <input type="text" class="form-control reg" placeholder="judul" data-key="Caption">
    <textarea name="" id="" cols="30" rows="10" data-key="Content" class="reg"></textarea>
    <button class="form-btn"  onclick="update_article()" id="ubah-artikel">Ubah Artikel</button> 
</div>