<div class="lister-icon">
    <input type="text" class="form-control" id="article-cari">
    <button onclick="search('article-cari','article-list')">Cari</button>
    <button onclick="opens('article-add-new',null)">Tambah Artikel</button>
</div>


<ul class="table-list article-list">
    
</ul>