<h1><center>Sebuah Kode Verifikasi telah Dikirim ke Email Anda</center></h1>
<hr>
<div class="dialog">
    <input type="number" class="form-control verif" placeholder="kode" data-key="Verify"> 
    <button class="form-btn"  onclick="verify()" id="login">Lanjutkan</button>
    
</div>