<div class="logo">
    <img src="http://localhost/lawfirm/public/back/img/advoqu_logo.png" alt="">
</div>
<div class="admin hidden">
   
<div class="home">
    <button class="menu" type="button" onclick="opens('article-add',null)">Tambah Artikel</button>
    <button class="menu" type="button">Cek Kasus</button> 
    <button class="menu row-fix" type="button">&nbsp;</button>
</div> 

</div>
<div class="client hidden">
     menu khusus client
</div> 

<div class="home"> 
    <button class="menu" type="button" onclick="opens('about',null)">Tentang Kami</button> 
    <button class="menu" type="button" onclick="opens('toc',null)">Syarat Ketentuan</button> 
    <button class="menu" type="button" onclick="opens('priv',null)">Kebijakan Privasi</button> 
</div> 
<div class="home">
    <button class="menu" type="button" onclick="opens('all-articles',null)">Dari Kami</button>
    <button class="menu row-fix" type="button">&nbsp;</button>
    <button class="menu row-fix" type="button">&nbsp;</button>
</div>
