<h1><center>Silakan Login</center></h1>
<hr>
<div class="dialog">
    <input type="email" class="form-control log" placeholder="email" data-key="Email">
    <input type="password" class="form-control log" placeholder="password" data-key="Password">
    <button class="form-btn"  onclick="login()" id="login">Login</button>
    <button class="form-btn"  onclick="opens('register',null)">Buat Akun</button>
</div>