<h1><center>Kebijakan Privasi</center></h1>
<p style="text-align: justify">
Di Advoqu kami sangat menghormati setiap client dan partner kami sebagai pribadi yang mulia, perlu dibantu, serta bisa diharapkan bantuannya. Untuk itu layanan Advoqu mencantumkan dengan lugas dan jelas mengenai kebijakan privasi.
</p>
<h3>Penjelasan Istilah</h3>
<p style="text-align: justify">
<ol>
    <li>Istilah 'Policy' mengacu kepada isi artikel di halaman ini dan bukan di halaman lain baik di aplikasi web Advoqu maupun tautan lain yang terkait</li>
    <li>Istilah 'Kami' mengacu kepada lembaga Advoqu, R.Subekti & Partners, dan pihak lain yang kepadanya diberikan kuasa untuk mengelola lembaga dan atau layanan Advoqu baik di aplikasi web Advoqu maupun tautan lain yang terkait</li>
    <li>Istilah 'Client' mengacu kepada anggota masyarakat perseorangan maupun kelompok yang terdaftar sebagai client Advoqu melalui aplikasi web Advoqu dan bukan di tempat lainnya</li>
    <li>Istilah 'Partner' mengacu kepada anggota masyarakat perseorangan maupun kelompok yang terdaftar sebagai partner Advoqu oleh Kami melalui aplikasi web Advoqu dan bukan di tempat lainnya</li>
    <li>Istilah 'Informasi' mengacu kepada hasil inputan, file yang diupload, berkas yang dikirim melalui pos, pesan melalui aplikasi web Advoqu, pesan melalui layanan pesan sosial yang terhubung dengan Advoqu, pembicaraan telepon yang merinci identitas dan permasalahan dalam diri Client atau Partner</li>
</ol>
</p>
<h3>Informasi yang Kami Dapatkan dari Client dan Partner</h3>
<p style="text-align: justify">
<strong>Informasi Client dan Partner</strong> sangat Kami butuhkan supaya Kami bisa memberikan layanan yang sesuai dengan kebutuhan Client dan Partner.
Kami mendapatkan Informasi berikut ini dari setiap Client dan Partner
<ol>
    <li>Alamat Email; Kami memerlukan alamat Email Client dan Partner supaya Kami bisa memberitahukan berbagai hal yang penting dalam bentuk file yang bisa diunduh dan disalin</li>
    <li>Nama, Alamat, dan NIK; Kami memerlukan nama, alamat, dan NIK Client dan Partner supaya bisa melengkapi kebutuhan administrasi jika permasalahan hukum yang dikuasakan kepada Kami sampai ke tingkat peradilan umum</li>
    <li>Nomor Handphone dan pesan sosial (Whatsapp, Instagram, Telegram); Kami memerlukan akses pribadi ke Client dan Partner untuk komunikasi yang relevan dan efektif</li>
    <li>Segala inputan, file yang diupload, berkas yang dikirim melalui pos, pesan melalui layanan pesan sosial, notulensi atau rekaman pembicaraan telepon antara Kami dan Client, antara Kami dan Partner, atau antara Client dan Partner; Kami memerlukan Informasi tersebut untuk mengelola layanan Advoqu</li>
</ol>
</p>
<h3>Cara Informasi Client dan Partner Kami Pergunakan</h3>
<p style="text-align: justify">
Kami mempergunakan Informasi melalu beberapa cara sebagai berikut
<ol>
    <li>Untuk merinci identitas dan permasalahan yang sedang dihadapi Client</li>
    <li>Untuk mengidentifikasi kapasitas dan kapabilitas Partner dalam mendukung layanan Advoqu</li>
    <li>Untuk melengkapi administrasi apabila diperlukan dalam hal kasus yang dikuasakan kepada Kami naik ke peradilan umum</li>
    <li>Untuk meningkatkan dan memperbaiki layanan Advoqu</li>
</ol>
</p>
<h3>Pengecualian</h3>
<p style="text-align: justify">
Segala sesuatu yang tidak disebutkan Policy dinyatakan tidak ada dan tidak berlaku. Informasi dari Client atau Partner yang bukan diminta oleh Kami dinyatakan tidak sah dan tidak dapat dipergunakan dalam layanan Kami baik melalui aplikasi web Advoqu maupun tautan lainnya yang terkait.
</p>