<h1><center>Buat Akun Baru</center></h1>
<hr>
<div class="dialog">
    <input type="text" class="form-control reg" placeholder="nama lengkap" data-key="Fullname">
    <input type="email" class="form-control reg" placeholder="email" data-key="Email">
    <input type="password" class="form-control reg" placeholder="password" data-key="Password"> 
    <button class="form-btn"  onclick="register()" id="buat-akun">Buat Akun</button> 
</div>